PORT=4000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/weekly_report_db?retryWrites=true&w=majority
JWT_SECRET=super-secret-jwt-key-for-development
OPENAI_API_KEY=your-open-ai-key